.button {
  text-align: center;
  text-transform: uppercase;
  border: 0;
  height: 58px;

  color: #ffffff;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5495bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:active svg {
    opacity: 0.3;
  }

  &:disabled,
  .button--disabled {
    background-color: #e5e5e5;
  }
}
