@import "../utils.scss";

.control__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__text {
  margin-left: 80px;
  font-size: 18px;
  line-height: 50px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    width: 45px;
    height: 45px;
    top: -13px;
    left: -77px;
    border: 5px solid $gray-color;
    background-color: $gray-color;
  }

  &::after {
    display: none;
    top: 4px;
    left: -59px;
    z-index: 1;
  }
}

.control__input:checked ~ .control__text::after {
  display: block;
}

.control--radio .control__text {
  &::before,
  &::after {
    border-radius: 50%;
  }

  &::after {
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    background-color: #000000;
  }
}

.control--checkbox .control__text {
  &::before {
    border-radius: 5px;
  }

  &::after {
    width: 23px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.control--radio:focus .control__text,
.control--checkbox:focus .control__text {
  outline: rgb(229, 151, 0) auto 5px;
}

.control:hover .control__input ~ .control__text::before {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.control:active .control__input ~ .control__text::before {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.control:active .control__input ~ .control__text::after {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .control__text {
    line-height: 60px;
  }
}
