@import "../utils.scss";

.feedback {
  position: relative;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__submit {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 21px;
  margin: 0 auto;
  padding: 0 50px;
  height: 58px;
}

.feedback__submit-wrapper {
  margin: 15px 20px 38px;
  text-align: center;
}

.feedback__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 12px 17px;
  border: none;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }

  &:first-child {
    border-top: none;
    margin-top: -8px;
  }
}

.feedback__fieldset-header {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 22px;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
}

.feedback__checkbox-wrapper {
  display: flex;
  flex-direction: column;
}

.feedback__textarea,
.feedback__input-text,
.feedback__input-phone,
.feedback__input-email {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  box-sizing: border-box;
}

.feedback__textarea {
  padding: 20px;
  width: 100%;
  border: none;
  resize: none;

  background-color: $gray-color;
}

.feedback__label {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.feedback__input-name {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 6px 14px 0 3px;
}

.feedback__input-text,
.feedback__input-phone,
.feedback__input-email {
  height: 58px;
  width: 100%;
  padding-left: 21px;
  margin-top: 4px;

  background-color: $gray-color;
  border: none;
}

.feedback__label-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__required-text {
  display: none;
}

.feedback__fieldset--name .feedback__label:last-child {
  margin-bottom: 0;
}

.feedback__fieldset--contacts .feedback__label {
  flex-direction: column;
  align-items: left;
}

.feedback__fieldset--contacts .feedback__input-name {
  margin-left: 24px;
  margin-top: 1px;
}

.feedback__input-email,
.feedback__input-phone {
  width: 280px;
  padding-right: 68px;
}

.feedback__input-phone-wrapper,
.feedback__input-email-wrapper {
  position: relative;
  margin-top: 4px;

  &::after {
    content: "";
    position: absolute;
    margin-top: 4px;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    background-color: #e6e6e6;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.feedback__input-phone-wrapper::after {
  background-image: url("/img/icon-phone.svg");
  background-size: 18px 18px;

}

.feedback__input-email-wrapper::after {
  background-image: url("/img/icon-mail.svg");
  background-size: 20px 16px;
  background-position: 22px 19px;
}

.feedback__label-radio,
.feedback__label-checkbox {
  height: 60px;
  margin: 9px 0;
}

.feedback__fieldset:nth-of-type(2n + 3) {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .feedback__fieldset {
    width: 648px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:first-child {
      margin: 0;
    }

    &:before {
      display: none;
    }
  }

  .feedback__fieldset-header {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 65px;
  }

  .feedback__label-radio {
    margin: 20px 0;
  }

  .feedback__fieldset--impressions {
    order: -1;
  }

  .feedback__fieldset--name,
  .feedback__fieldset--impressions {
    width: 384px;
    box-sizing: border-box;
    border-top: none;
    padding: 0 56px;
  }

  .feedback__fieldset--name {
    border-left: 1px solid $gray-color;
  }

  .feedback__fieldset--name .feedback__fieldset-header,
  .feedback__fieldset--impressions .feedback__fieldset-header {
    text-align: left;
  }

  .feedback__fieldset--name .feedback__label {
    display: flex;
  }

  .feedback__checkbox-wrapper {
    flex-wrap: wrap;
    height: 75px;
    align-content: center;
  }

  .feedback__label-checkbox {
    margin-right: 20px;
  }

  .feedback__submit-wrapper {
    width: 648px;
    display: flex;
    justify-content: space-between;
  }

  .feedback__submit {
    margin: 0;
  }

  .feedback__required-text {
    display: inline-block;
  }

  .feedback__fieldset--contacts {
    margin-top: 22px;
    margin-bottom: 20px;
  }

  .feedback__fieldset--contacts .feedback__fieldset-header {
    margin-bottom: 25px;
  }

  .feedback__input-email,
  .feedback__input-phone {
    width: 650px;
  }

  .feedback__fieldset--contacts .feedback__input-name {
    margin-top: 5px;
  }

  .feedback__checkbox-wrapper {
    flex-direction: row;
    height: auto;
    width: 465px;
    margin: 0 auto 30px;
    justify-content: space-between;
  }

  .feedback__label-checkbox {
    width: 205px;
    margin: 13px 0;
  }

  .feedback__fieldset--landmarks .feedback__fieldset-header {
    margin-bottom: 35px;
  }

  .feedback__fieldset--emotions .feedback__fieldset-header {
    margin-bottom: 60px;
  }

  .feedback__textarea {
    padding: 15px 20px;
  }

  .feedback__submit-wrapper {
    margin-top: 40px;
  }

  .feedback__submit {
    padding: 0 70px;
  }

  .feedback__required-text {
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 960px;
    margin: 0 auto;
  }

  .feedback__fieldset,
  .feedback__submit-wrapper {
    width: 960px;
  }

  .feedback__fieldset--name,
  .feedback__fieldset--impressions {
    width: 480px;
  }

  .feedback__checkbox-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__submit-wrapper {
    margin: 58px 0 66px;
    align-items: baseline;
  }

  .feedback__submit {
    width: 480px;
  }
}
