@import "../utils.scss";

.feedback {
  position: relative;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__submit {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 21px;
  margin: 0 auto;
  padding: 0 50px;
  height: 58px;
  cursor: pointer;
}

.feedback__submit-wrapper {
  margin: 15px 20px 38px;
  text-align: center;
}

.feedback__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 14px 17px;
  border: none;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }

  &:first-child {
    border-top: none;
    margin-top: -8px;
  }

  &:first-child.feedback__fieldset::before {
    height: 2px;
  }
}

.feedback__fieldset-header {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
}

.feedback__checkbox-wrapper {
  display: flex;
  flex-direction: column;
}

.feedback__textarea,
.feedback__input-text,
.feedback__input-phone,
.feedback__input-email {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  box-sizing: border-box;
}

.feedback__textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
}

.feedback__textarea {
  padding: 17px 20px 17px;
  font-size: 18px;
  border: none;
  resize: none;
  overflow: auto;
  width: 280px;
  height: 160px;
  margin-top: 2px;
  box-sizing: border-box;
  font-family: inherit;

  background-color: $gray-color;
}

.feedback__label {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.feedback__input-name {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 6px 14px 0 3px;
}

.feedback__input-text,
.feedback__input-phone,
.feedback__input-email {
  height: 58px;
  width: 100%;
  padding-left: 21px;
  margin-top: 4px;

  background-color: $gray-color;
  border: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

.feedback__input-text {
  margin-top: 5px;
}

.feedback__label-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__required-text {
  display: none;
}

.feedback__fieldset--name .feedback__label:last-child {
  margin-bottom: 0;
}

.feedback__fieldset--contacts .feedback__label {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.feedback__fieldset--contacts .feedback__input-name {
  margin-left: 24px;
  margin-top: 1px;
}

.feedback__input-email,
.feedback__input-phone {
  width: 280px;
  padding-right: 68px;
}

.feedback__input-phone-wrapper,
.feedback__input-email-wrapper {
  position: relative;
  margin-top: 7px;
  margin-left: 2px;

  &::after {
    content: "";
    position: absolute;
    margin-top: 4px;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    background-color: #e6e6e6;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.feedback__input-phone-wrapper::after {
  background-image: url("../img/icon-phone.svg");
  background-size: 18px 18px;
}

.feedback__input-email-wrapper::after {
  background-image: url("../img/icon-mail.svg");
  background-size: 20px 16px;
  background-position: 22px 19px;
}

.feedback__label-radio,
.feedback__label-checkbox {
  height: 60px;
  margin: 9px 0 10px;
}

.feedback__fieldset:nth-of-type(2n + 3) {
  margin-top: 0;
}

.feedback__fieldset--impressions {
  margin-bottom: 0;
}

.feedback__fieldset--impressions .feedback__fieldset-header {
  margin-top: 24px;
  margin-bottom: 27px;
}

.feedback__fieldset--landmarks .feedback__fieldset-header {
  line-height: 24px;
  margin-bottom: 12px;
}

.feedback__fieldset.feedback__fieldset--emotions {
  margin-top: -5px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 52px;
    margin-bottom: 20px;
  }

  .feedback__fieldset--landmarks .feedback__fieldset-header {
    margin-bottom: 31px;
    margin-top: 18px;
    line-height: 25px;
  }

  .feedback__textarea {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 15px 20px;
  }

  .feedback__fieldset--emotions {
    margin-top: 0;
    margin-bottom: 14px;
  }

  .feedback__label-radio,
  .feedback__label-checkbox {
    margin: 9px 0;
  }

  .feedback__fieldset--impressions .feedback__fieldset-header {
    margin-top: 22px;
    margin-bottom: 65px;
  }

  .feedback__fieldset--contacts .feedback__label {
    margin-bottom: 16px;
  }

  .feedback__fieldset--impressions {
    margin-bottom: 14px;
    order: -1;
  }

  .feedback__input-phone-wrapper,
  .feedback__input-email-wrapper {
    margin-top: 4px;
    margin-left: 0;
  }

  .feedback__input-phone-wrapper {
    margin-bottom: 6px;
  }

  .feedback__fieldset--impressions .feeback__fieldset-header {
    margin-top: 20px;
  }

  .feedback__fieldset.feedback__fieldset--impressions {
    padding-right: 10px;
  }

  .feedback__fieldset .feedback__fieldset--name .feedback__fieldset-header {
    margin-bottom: 56px;
  }

  .feedback__fieldset {
    width: 648px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:first-child {
      margin: 0;
    }

    &::before {
      display: none;
    }
  }

  .feedback__fieldset-header {
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 65px;
    margin-top: 22px;
  }

  .feedback__label-radio {
    margin: 17px 0;
  }

  .feedback__fieldset--name .feedback__input-name {
    margin: 0 12px 0 3px;
  }

  .feedback__fieldset--name,
  .feedback__fieldset--impressions {
    width: 384px;
    box-sizing: border-box;
    border-top: none;
    padding: 0 56px;
  }

  .feedback__fieldset--name {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      border-left: 1px solid $gray-color;
      height: 290px;
      top: 30px;
    }
  }

  .feedback__fieldset--name .feedback__fieldset-header,
  .feedback__fieldset--impressions .feedback__fieldset-header {
    text-align: left;
  }

  .feedback__fieldset--name .feedback__label {
    display: flex;
  }

  .feedback__fieldset--emotions .feedback__fieldset-header,
  .feedback__fieldset--landmarks .feedback__fieldset-header,
  .feedback__fieldset--contacts .feedback__fieldset-header {
    &::before,
    &::after {
      content: "";
      width: 125px;
      height: 1px;
      border-top: 1px solid $gray-color;
      position: absolute;
      top: 32px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .feedback__checkbox-wrapper {
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    height: auto;
    width: auto;
    margin: 0 auto 35px;
    justify-content: center;
  }

  .feedback__label-checkbox {
    width: 205px;
    margin: 14px 27px 13px;
  }

  .feedback__submit-wrapper {
    width: 648px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 42px;
  }

  .feedback__submit {
    margin: 0;
    padding: 0 70px;
  }

  .feedback__required-text {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
  }

  .feedback__fieldset--contacts {
    margin-top: 28px;
    margin-bottom: 20px;
  }

  .feedback__fieldset--contacts .feedback__fieldset-header {
    margin-bottom: 25px;
  }

  .feedback__input-email,
  .feedback__input-phone {
    width: 650px;
    margin-top: 6px;
  }

  .feedback__input-text {
    margin-top: 4px;
  }

  .feedback__fieldset--contacts .feedback__input-name {
    margin-top: 0;
  }

  .feedback__fieldset--emotions .feedback__fieldset-header {
    margin-bottom: 60px;
  }

  .feedback__input-phone-wrapper::after,
  .feedback__input-email-wrapper::after {
    margin-top: 6px;
  }

  .feedback__input-email-wrapper::after {
    background-position: 20px 21px;
  }

  .feedback__fieldset.feedback__fieldset--landmarks .feedback__fieldset--header {
    margin-top: 18px;
    line-height: 24px;
  }

  .feedback__fieldset--landmarks .feedback__fieldset-header::before,
  .feedback__fieldset--landmarks .feedback__fieldset-header::after {
    top: 42px;
  }

  .feedback__fieldset--name .feedback__fieldset-header {
    margin-bottom: 56px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__form {
    margin-top: auto;
    margin-bottom: 15px;
  }

  .feedback {
    width: 960px;
    margin: 0 auto;
  }

  .feedback__fieldset,
  .feedback__submit-wrapper {
    width: 960px;
  }

  .feedback__fieldset--name,
  .feedback__fieldset--impressions {
    width: 480px;
    padding: 0;
  }

  .feedback__checkbox-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
  }

  .feedback__submit-wrapper {
    align-items: baseline;
    margin: 42px 0 50px;
  }

  .feedback__submit {
    width: 480px;
  }

  .feedback__fieldset-header {
    margin-top: 10px;
    margin-bottom: 55px;
    line-height: 23px;
    letter-spacing: 1px;
    font-size: 20px;
  }

  .feedback__fieldset--impressions .feedback__fieldset-header {
    text-align: center;
    letter-spacing: 0.7px;
    margin: 10px 45px 58px 8px;
  }

  .feedback__fieldset--name {
    padding-left: 75px;

    &::after {
      height: 290px;
      top: 14px;
    }
  }

  .feedback__fieldset--contacts {
    display: block;
    margin-top: 36px;
    margin-bottom: 4px;
  }

  .feedback__fieldset--contacts .feedback__label {
    display: inline-block;
  }

  .feedback__input-email-wrapper,
  .feedback__input-phone-wrapper {
    display: inline-block;
  }

  .feedback__input-phone,
  .feedback__input-email {
    width: 315px;
    letter-spacing: -0.2px;
    padding-left: 20px;
  }

  .feedback__fieldset--contacts .feedback__fieldset-header {
    margin-bottom: 61px;
    line-height: 34px;
  }

  .feedback__fieldset--contacts .feedback__fields-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .feedback__fieldset--contacts .feedback__input-name {
    margin-left: 0;
  }

  .feedback__fieldset--landmarks {
    margin-bottom: 14px;
  }

  .feedback__fieldset--landmarks .feedback__fieldset-header {
    margin-bottom: 27px;
  }

  .feedback__fieldset--emotions .feedback__fieldset-header,
  .feedback__fieldset--landmarks .feedback__fieldset-header,
  .feedback__fieldset--contacts .feedback__fieldset-header {
    &::before,
    &::after {
      width: 280px;
      top: 27px;
    }
  }

  .feedback__fieldset--emotions .feedback__fieldset-header {
    &::before,
    &::after {
      top: 20px;
    }
  }

  .feedback__textarea {
    padding: 14px 20px 15px;
  }

  .feedback__label-checkbox {
    width: auto;
    margin: 13px 4px 13px -3px;
  }

  .feedback__fieldset--name .feedback__fieldset-header {
    margin-left: 4px;
  }

  .feedback__input-text {
    margin-top: 3px;
    margin-left: 5px;
  }

  .feedback__fieldset--landmarks .feedback__fieldset-header::before,
  .feedback__fieldset--landmarks .feedback__fieldset-header::after {
    top: 42px;
  }

  .feedback__fieldset.feedback__fieldset--emotions {
    margin-bottom: 0;
  }
}
