@import "../utils.scss";

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__submit {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0 50px;
  height: 58px;
}

.feedback__submit-wrapper {
  margin: 0 20px 48px;
  text-align: center;
}

.feedback__fieldset {
  display: flex;
  flex-direction: column;
  margin: 25px 17px;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.feedback__fieldset-header {
  text-align: center;
  text-transform: uppercase;
}

.feedback__checkbox-wrapper {
  display: flex;
  flex-direction: column;
}

.feedback__textarea,
.feedback__input-text,
.feedback__input-phone,
.feedback__input-email {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  box-sizing: border-box;
}

.feedback__textarea {
  padding: 20px;
  width: 100%;
  border: none;
  resize: none;

  background-color: $gray-color;
}

.feedback__label {
  margin-bottom: 20px;
}

.feedback__input-name {
  font-size: 14px;
  line-height: 26px;

  margin-right: 14px;
}

.feedback__input-text,
.feedback__input-phone,
.feedback__input-email {
  height: 58px;
  width: 100%;
  padding: 0 10px;

  background-color: $gray-color;
  border: none;
}

.feedback__label-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__required-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback__fieldset {
    width: 648px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .feedback__fieldset--impressions {
    order: -1;
  }

  .feedback__fieldset--name,
  .feedback__fieldset--impressions {
    width: 324px;
    border-top: none;
  }

  .feedback__fieldset--name .feedback__fieldset-header,
  .feedback__fieldset--impressions .feedback__fieldset-header {
    text-align: left;
  }

  .feedback__fieldset--name .feedback__label {
    display: flex;
  }

  .feedback__checkbox-wrapper {
    flex-wrap: wrap;
    height: 75px;
    align-content: center;
  }

  .feedback__label-checkbox {
    margin-right: 20px;
  }

  .feedback__submit-wrapper {
    width: 648px;
    display: flex;
    justify-content: space-between;
  }

  .feedback__submit {
    margin: 0;
  }

  .feedback__required-text {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 960px;
    margin: 0 auto;
  }

  .feedback__fieldset,
  .feedback__submit-wrapper {
    width: 960px;
  }

  .feedback__fieldset--name,
  .feedback__fieldset--impressions {
    width: 480px;
  }

  .feedback__checkbox-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__submit-wrapper {
    margin: 58px 0 66px;
    align-items: baseline;
  }

  .feedback__submit {
    width: 480px;
  }
}
