@import "../utils.scss";

.find-hotel {
  text-align: center;
  text-transform: uppercase;
  padding: 30px 30px 45px;
}

.find-hotel__button {
  @include remove-link-style();

  display: block;
  margin: 0 auto;
  height: 55px;
  width: 280px;
  line-height: 55px;
}

.find-hotel__description {
  max-width: 480px;
  margin: 30px auto 42px;
}

@media (min-width: $tablet-width) {
  .find-hotel__button {
    width: 458px;
  }

  .find-hotel__description {
    margin: 40px auto 50px;
  }
}

@media (min-width: $desktop-width) {

}
