@import "../utils.scss";

.main-nav {
  position: relative;
}

.main-nav__wrapper {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  display: block;
}

.main-nav--nojs .main-nav__close,
.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__toggle {
  @include remove-button-style();
  @include hide-text();

  display: inline-block;
  height: 23px;
  width: 23px;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
  fill: #81b3d2;
}

.main-nav__close {
  @include remove-button-style();
  @include hide-text();

  position: absolute;
  padding: 10px;
  top: -217px;
  right: 9px;
  cursor: pointer;
}

.main-nav__close .main-nav__button-icon {
  fill: #ffffff;
}

.main-nav__header {
  position: relative;
  height: 55px;
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -27px;
  height: 83px;
  width: 102px;
  z-index: 1;
}


@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: block;
  }

  .main-nav__toggle,
  .main-nav__close {
    display: none;
  }

  .main-nav__header {
    margin-top: -56px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    width: 188px;
    height: 96px;
    bottom: -40px;
  }
}
