@import "../utils.scss";

.main-nav {
  position: relative;
}

.main-nav__toggle {
  @include remove-button-style();
  @include hide-text();

  display: inline-block;
  height: 23px;
  width: 23px;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  background-color: #81b3d2;
  mask: url("/img/icon-menu.svg") center center no-repeat;
}

.main-nav__close {
  display: none;
  position: absolute;
  top: -200px;
  right: 10px;

  &:after {
    display: block;
    content: '123';
    color: #fff;
    background: url("/img/icon-cross.svg") 50% 50%;
  }
}

.main-nav__header {
  position: relative;
  height: 55px;
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -27px;
  height: 83px;
  width: 102px;
  background: url("/img/logo-sedona-mobile.svg");
  z-index: 1;
}


@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__header {
    margin-top: -56px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    background: url("/img/logo-sedona-mobile.svg");
  }
}
