@import "../utils.scss";

.page-description {
  text-align: center;
  text-transform: uppercase;
  margin: 45px 15px 35px;
}

.page-description__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.page-description__text {
  font-size: 18px;
  font-weight: 200;
}

@media (min-width: $tablet-width) {
  .page-description {
    max-width: 500px;
    margin: 45px auto 35px;
  }
}
