@import "../utils.scss";

.page-footer {
  display: flex;
  flex-direction: column;

  padding: 37px 20px 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fefefe;
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
}

.page-footer__made-by {
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 14px;
}

.page-footer__made-by-text {
  display: inline-block;
  vertical-align: bottom;
}

.page-footer__htmlacademy {
  display: inline-block;
  height: 34px;
  margin-left: 10px;
}

.page-footer__htmlacademy-link {
  @include hide-text();

  display: block;
  height: 34px;
  width: 27px;
  background-color: #000000;
  mask: url("../img/logo-htmlacademy.svg") center center no-repeat;

  &:hover {
    background-color: #81b3d1;
  }

  &:active {
    background-color: #a8a8a8;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    box-sizing: border-box;
    padding: 0 60px;
  }

  .page-footer__hashtag {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 0 120px;
  }
}
