@import "../utils.scss";

.page-footer {
  display: flex;
  flex-direction: column;

  padding: 40px 20px 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fefefe;
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__made-by {
  display: flex;
  justify-content: center;
  line-height: 34px;
}

.page-footer__made-by-text {
  display: inline-block;
  vertical-align: bottom;
}

.page-footer__htmlacademy {
  display: inline-block;
  height: 34px;
  margin-left: 10px;
}

.page-footer__htmlacademy-link {
  @include hide-text();

  display: block;
  height: 34px;
  width: 27px;
  background: url("../img/logo-htmlacademy.svg") center center no-repeat;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 36px 60px;
  }
}
