.page-header {
  background-color: #d6e8f2;
}

.page-header__logo {
  height: 150px;
  display: block;
  line-height: 0;
  padding: 0 40px;

  background: url("/img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center bottom;
}

.page-header--big .page-header__logo {
  height: 390px;
  padding: 0 20px;

  background-position: center top;
}

.page-header__logo-text {
  height: 150px;
  background: url("/img/text-sedona.svg") center center no-repeat;
  background-size: contain;
}

.page-header--big .page-header__logo-text {
  height: 390px;
  background: url("/img/text-sedona-index.svg") center center no-repeat;
  background-size: contain;
}
