@import "../utils.scss";

@media (min-width: $tablet-width) {
  .photos {
    width: 650px;
    margin: 0 auto;
    padding: 20px 0 0;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: 1200px;
  }
}
