.photo {
  margin: 25px 20px;
}

.photo__link {
  display: block;
}

.photo__title {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 700;
}

.photo__likes {
  font-weight: 700;
}
