@import "../utils.scss";

.reasons {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

@media (min-width: $tablet-width) {
  .reasons {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
