@import "../utils.scss";

.recommendation {
  position: relative;
  margin-bottom: 20px;
}

.recommendation__image {
  display: block;
  position: absolute;
  height: 38px;
  width: 36px;
  left: -48px;
  top: -15px;
  fill: #81b3d2;
}

.recommendation--food .recommendation__image {
  top: -11px;
  left: -51px;
  width: 38px;
}

.recommendation--souvenirs .recommendation__image {
  top: -16px;
  height: 39px;
  background-size: 39px 36px;
}

.recommendation__title {
  margin-top: 0;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 17px;
  letter-spacing: 1px;
}

.recommendation__text {
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .recommendation {
    margin: 0 45px;
    width: 33%;
    font-size: 14px;
  }

  .recommendation__image {
    display: block;
    position: static;
    margin: 0 auto 32px;
  }

  .recommendation--motel .recommendation__image {
    height: 75px;
    width: 75px;
  }

  .recommendation--food .recommendation__text {
    max-width: 155px;
  }

  .recommendation--food .recommendation__image {
    width: 78px;
    height: 75px;
  }

  .recommendation--souvenirs .recommendation__image {
    height: 75px;
    width: 64px;
  }

  .recommendation--food {
    order: 2;
  }

  .recommendation--souvenirs {
    order: 3;
  }

  .recommendation__text {
    margin: 0 auto;
  }

  .recommendation__title {
    font-size: 20px;
    margin-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .recommendation {
    margin: 0 55px;
  }

  .recommendation--food .recommendation__text {
    max-width: 290px;
  }

  .recommendation--motel .recommendation__text {
    max-width: 290px;
  }

  .recommendation--souvenirs .recommendation__text {
    max-width: 290px;
  }
}
