@import "../utils.scss";

.recommendations {
  @include remove-list-style();
  text-align: left;
  padding: 40px 35px 4px 70px;

  display: flex;
  flex-direction: column;

  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.recommendations .desktop-only {
  display: none;
}

@media (min-width: $tablet-width) {
  .recommendations {
    flex-direction: row;
    padding: 60px 0 40px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .recommendations {
    width: 100%;
    padding: 59px 0 82px;
  }

  .recommendations .desktop-only {
    display: inline;
  }
}
