@import "../utils.scss";

.site-list {
  @include remove-list-style();
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border: 0;

  color: #ffffff;

  @media (max-width: $tablet-width - 1) {
    .site-list__item {
      height: 56px;
      background-color: #81b3d2;

      &:hover {
        background-color: #669ec0;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      bottom: 3px;
      box-shadow: inset 2px 0 1px -3px rgba(0, 0, 0, 0.4);
    }
  }
}

.site-list__item {
  line-height: 56px;
  font-size: 18px;
  height: 56px;

  vertical-align: middle;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  box-sizing: border-box;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.site-list__link {
  @include remove-link-style();
  display: block;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;

    &::after {
      display: block;
      content: "";
      width: 153px;
      order: 3;
    }
  }

  .site-list__item {
    width: 153px;
    border: none;
    height: 56px;
    background-color: #ffffff;
    font-weight: bold;

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 5;
    }
  }

  .site-list__link {
    font-size: 14px;
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #b3b3b3;
    }
  }

  .site-list__item--active .site-list__link {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #d6d0cd;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list::after,
  .site-list__item {
    width: 240px;
  }
}
