@import "../utils.scss";

.social {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.social__list {
  @include remove-list-style();
}

.social__link,
.social__item {
  height: 48px;
  width: 48px;
}

.social__image {
  fill: #ffffff;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__link {
  @include hide-text();
  position: relative;
  background-color: #81b3d2;

  display: block;
}

.social__link:active svg {
  opacity: 0.3;
}

.social__item {
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
  }

  .social__list {
    display: flex;
  }

  .social__item {
    margin-right: 6px;
  }
}
