@import "../utils.scss";

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__controls {
  position: relative;
  width: 280px;
  height: 66px;

  background-color: #f2f2f2;
}

.video__cover {
  display: block;
}

.video__replay,
.video__subtitles,
.video__fullscreen {
  @include hide-text();
  border: 0;
  padding: 0;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.video__progress {
  position: relative;
  width: 280px;
  height: 45px;
  margin-top: -45px;
  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 235px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 22px;
    top: 23px;
    cursor: pointer;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    top: 20px;
    left: 58px;
    cursor: pointer;
    z-index: 2;
  }
}

.video__replay {
  width: 18px;
  height: 20px;
  background-color: transparent;
  background-size: contain;
  left: 24px;
  top: 24px;
}

.video__subtitles {
  width: 32px;
  height: 20px;
  background-color: transparent;
  background-size: contain;
  right: 74px;
  top: 24px;
}

.video__fullscreen {
  width: 20px;
  height: 20px;
  background-color: transparent;
  right: 23px;
  top: 24px;
}


@media (min-width: $tablet-width) {
  .video {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 648px;
    margin: 72px auto 0;
  }

  .video__control-image {
    fill: #ffffff;
  }

  .video__cover {
    width: 648px;
    height: 500px;
    margin: 0 auto;
  }

  .video__controls {
    width: 648px;
    height: 92px;
    margin-top: -92px;
    background-color: transparent;
  }

  .video__progress {
    width: 648px;
    height: 92px;
    margin-top: -92px;

    &::before {
      width: 389px;
      left: 93px;
      top: 45px;
    }

    &::after {
      top: 42px;
      left: 206px;
    }
  }

  .video__replay {
    width: 20px;
    height: 20px;
    left: 33px;
    top: 35px;
  }

  .video__subtitles {
    right: 92px;
    top: 36px;
  }

  .video__fullscreen {
    right: 41px;
    top: 36px;
  }
}

@media (min-width: $desktop-width) {
  .video,
  .video__cover,
  .video__controls,
  .video__progress {
    width: 800px;
  }

  .video__progress::before {
    width: 540px;
  }
}
