@import "utils.scss";

.tablet-only {
  display: none;
}

.hide-mobile {
  display: none;
}

@media (min-width: $tablet-width) {
  .tablet-only,
  .hide-mobile {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .tablet-only {
    display: none;
  }

  .hide-desktop {
    display: none;
  }
}
