@import "utils.scss";

.tablet-only,
.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

.hide-mobile {
  display: none;
}

@media (min-width: $tablet-width) {
  .mobile-only {
    display: none;
  }

  .tablet-only,
  .hide-mobile {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .tablet-only {
    display: none;
  }

  .hide-desktop {
    display: none;
  }
}
